<a href="https://colab.research.google.com/github/disha-ramchandani/P2P-loans/blob/main/bdt_finipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv('Final_project_dataset')
df.head()

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,0,22.0,59000.0,RENT,14.5,PERSONAL,D,35000,16.02,0.59,Y,3.0
1,1,21.0,9600.0,OWN,5.0,EDUCATION,B,1000,11.14,0.10,N,2.0
2,2,25.0,9600.0,MORTGAGE,1.0,MEDICAL,C,5500,12.87,0.57,N,3.0
3,3,23.0,65500.0,RENT,4.0,MEDICAL,C,35000,15.23,0.53,N,2.0
4,4,24.0,54400.0,RENT,8.0,MEDICAL,C,35000,14.27,0.55,Y,4.0

In [2]:
inputs=df.drop(['loan_grade'],axis=1)

In [3]:
target=df['loan_grade']

In [4]:
inputs

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,0,22.0,59000.0,RENT,14.5,PERSONAL,35000,16.02,0.59,Y,3.0
1,1,21.0,9600.0,OWN,5.0,EDUCATION,1000,11.14,0.10,N,2.0
2,2,25.0,9600.0,MORTGAGE,1.0,MEDICAL,5500,12.87,0.57,N,3.0
3,3,23.0,65500.0,RENT,4.0,MEDICAL,35000,15.23,0.53,N,2.0
4,4,24.0,54400.0,RENT,8.0,MEDICAL,35000,14.27,0.55,Y,4.0
...,...,...,...,...,...,...,...,...,...,...,...
32411,32576,40.5,53000.0,MORTGAGE,1.0,PERSONAL,5800,13.16,0.11,N,15.5
32412,32577,40.5,120000.0,MORTGAGE,4.0,PERSONAL,17625,7.49,0.15,N,15.5
32413,32578,40.5,76000.0,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,0.46,N,15.5
32414,32579,40.5,140232.0,MORTGAGE,5.0,PERSONAL,15000,11.48,0.10,N,15.5
32415,32580,40.5,42000.0,RENT,2.0,MEDICAL,6475,9.99,0.15,N,15.5

In [5]:
target

0        D
1        B
2        C
3        C
4        C
        ..
32411    C
32412    A
32413    B
32414    B
32415    B
Name: loan_grade, Length: 32416, dtype: object

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le_person_home_ownership=LabelEncoder()
le_loan_intent=LabelEncoder()
le_cb_person_default_on_file=LabelEncoder()

In [8]:
inputs['home_ownership']=le_person_home_ownership.fit_transform(inputs['person_home_ownership'])
inputs['loan_intent']=le_person_home_ownership.fit_transform(inputs['loan_intent'])
inputs['person_default_on_file']=le_person_home_ownership.fit_transform(inputs['cb_person_default_on_file'])

In [9]:
inputs.head()

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,home_ownership,person_default_on_file
0,0,22.0,59000.0,RENT,14.5,4,35000,16.02,0.59,Y,3.0,3,1
1,1,21.0,9600.0,OWN,5.0,1,1000,11.14,0.10,N,2.0,2,0
2,2,25.0,9600.0,MORTGAGE,1.0,3,5500,12.87,0.57,N,3.0,0,0
3,3,23.0,65500.0,RENT,4.0,3,35000,15.23,0.53,N,2.0,3,0
4,4,24.0,54400.0,RENT,8.0,3,35000,14.27,0.55,Y,4.0,3,1

In [22]:
inputs_n=inputs.drop(['Unnamed: 0', 'person_home_ownership','loan_intent','cb_person_default_on_file'],axis=1)

In [23]:
inputs_n.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,home_ownership,person_default_on_file
0,22.0,59000.0,14.5,35000,16.02,0.59,3.0,3,1
1,21.0,9600.0,5.0,1000,11.14,0.10,2.0,2,0
2,25.0,9600.0,1.0,5500,12.87,0.57,3.0,0,0
3,23.0,65500.0,4.0,35000,15.23,0.53,2.0,3,0
4,24.0,54400.0,8.0,35000,14.27,0.55,4.0,3,1

In [24]:
from sklearn import tree

In [25]:
model=tree.DecisionTreeClassifier()

In [26]:
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score

In [27]:

X, y = datasets.load_iris(return_X_y=True)

clf = DecisionTreeClassifier(random_state=42)

k_folds = KFold(n_splits = 5)

scores = cross_val_score(clf, X, y, cv = k_folds)

print("Cross Validation Scores: ", scores)
print("Average CV Score: ", scores.mean())
print("Number of CV Scores used in Average: ", len(scores))

Cross Validation Scores:  [1.         1.         0.83333333 0.93333333 0.8       ]
Average CV Score:  0.9133333333333333
Number of CV Scores used in Average:  5

In [28]:
model.fit(inputs_n.values,target)

DecisionTreeClassifier()

In [29]:
model.score(inputs_n.values,target)

0.9999691510365252

In [31]:
model.predict([[22.0,59000.0,14.5,35000,16.02,0.59,3.0,3,1]])

array(['D'], dtype=object)

In [32]:
model.predict([[32.0,150000.0,8,25000,11.0,0.16,3.0,1,0]])

array(['A'], dtype=object)

In [37]:
model.predict([[40.0,40000.0,5,80000,24.0,2.0,4.0,2,1]])

array(['G'], dtype=object)